@if (ViewBag.Admin)
{
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin Portal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
            <a class="dropdown-item" asp-area="" asp-controller="Game" asp-action="Index">Game</a>
            <a class="dropdown-item" asp-area="" asp-controller="Genre" asp-action="Index">Genre</a>
            <a class="dropdown-item" asp-area="" asp-controller="Event" asp-action="Index">Event</a>
            <a class="dropdown-item" asp-area="" asp-controller="Review" asp-action="Index">Review</a>
        </div>
    </li>
}