@model bool

@if (Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Wishlist" asp-action="Index">Wishlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Friend" asp-action="Index">Friends List</a>
    </li>
}