@model CVGS.Models.Review

@{
    ViewData["Title"] = "Update Your Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Your Review</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Game</label>
                <input hidden asp-for="GameId" class="form-control" />
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.Game.Name)" />
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Username</label>
                <input hidden asp-for="UserId" class="form-control" />
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.User.UserName)" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Review Text</label>
                <textarea asp-for="Text" class="form-control" rows="5" style="white-space:pre-line;">@Html.DisplayFor(model => model.Text)</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Review Date</label>
                <input hidden asp-for="Date" class="form-control" />
                <input disabled value="@Html.DisplayFor(model => model.Date)" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Recommended" /> Check the box if you recommend this game. Uncheck the box if you do not recommend the game.
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}