@model CVGS.Models.GameImage

@{
    ViewData["Title"] = "Remove Game Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Remove Game Image</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game Image</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Image Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Game Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            Game Image
        </dt>
        <dd class="col-sm-10">
            @{
                var base64 = Convert.ToBase64String(Model.File);
                var imagesrc = string.Format("data:image/jpeg;base64,{0}", base64);
            }
            <img src="@imagesrc" style='max-height:250px;max-width:250px' />
        </dd>
    </dl>
    
    <form asp-action="RemoveGameGenre">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
